/* zrc/styles/components/section-footer/index.css */
.section-footer {
  --gap: 30px;
  gap: var(--gap);
  width: 100%;
}
.section-footer[data-layout=stacked] {
  display: flex;
  flex-direction: column;
}
.section-footer[data-layout=stacked][data-alignment=left] {
  text-align: left;
}
.section-footer[data-layout=stacked][data-alignment=center] {
  text-align: center;
}
.section-footer[data-layout=stacked][data-alignment=right] {
  text-align: right;
}
.section-footer[data-layout=two_columns] {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content;
}
